.App {
  text-align: center;
}

input,
label {
  display: block;
}

input,
select,
textarea {
  border: 1px solid lightgray;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
