.App {
  text-align: center;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  /* border-bottom: 1px solid gray; */
  box-shadow: 5px 5px 5px rgb(242, 242, 242);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
