.App {
  text-align: center;
}

.errors {
  color: red;
}
input,
label {
  display: block;
}

input,
select,
textarea {
  border: 1px solid lightgray;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}

button {
  padding: 10px;
  border: 1px solid gray;
  background-color: blue;
  color: white;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
